<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390988572629-lrl3tq7q3h2uer0uofbhfu4cc2rev6ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390988572629-lrl3tq7q3h2uer0uofbhfu4cc2rev6ch</string>
	<key>API_KEY</key>
	<string>AIzaSyB7-xZZz9ppl_Egpwv_ldv6SgMCVjLS9uk</string>
	<key>GCM_SENDER_ID</key>
	<string>390988572629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-23.FireBaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-569e4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-569e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390988572629:ios:4380013683c41d81837f5c</string>
</dict>
</plist>